body {
padding: 50px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
color: #00B7FF;
}
.CodeMirror-hint {
max-width: 100em;
}

.CodeMirror .cm-s-default .CodeMirror-wrap{
    height: 100%;
}