<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open source based autocomplete">

    <title>Your Coding Bot</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link rel="stylesheet" href="/stylesheets/codemirror.css">
<link rel="stylesheet" href="/stylesheets/show-hint.css">
<link rel="stylesheet" href="/stylesheets/material.css">

<script src="/javascripts/codemirror.js"></script>
<script src="/javascripts/javascript.js"></script>
<script src="/javascripts/show-hint.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script


</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">CompleteMe</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Try Now</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">How it works?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Inspiration</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">About me</a>
                    </li>                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">                
                <a href="#services" class="page-scroll btn btn-xl">Try Now</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Try Now</h2>                    
                </div>
            </div>
            <span id="loading" style="display:none" >Fetching your completions...</span>
<span id="noResults" style="display:none" >Hmm..Looks like we need to gather more data to complete your code.</span>
            <textarea id="myTextarea" name="myTextarea" height="100%">
  //Your code bot. Press ctrl+space to autocomplete
  //How cool would it be if you can mimic a code from Netflix's source or say from React??   

</textarea>

        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works?</h2>                    
                </div>
            </div>
            
            
            <ul>
            
<li>I scraped some popular open source Javascript projects like React, Angular etc.</li>
<li>Represent the code as Vectors in the DB.</li>
<li>So when you search for a completion, it generates partial AST vectos and matches these from your code to the source vectors.</li> 
<li>Here is my  <a href="https://gitlab.com/muralisr/codeComplete.git">repo</a>.</li>
<li>Currently it supports autocomplete for functions, classes and arrow functions.</li>
<li>This is a work in progress, and I'm learning PL still. Do give feedback. :-)</li>

</ul>

        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Inspiration</h2>                    
                </div>
            </div>
            <ul>
<li>I came across <a href="http://emilschutte.com/stackoverflow-autocomplete/" >Emil Schutte's autocomplete </a> in HN and thought that's cool why not try a different approach (Vectors instead of AST completion blocks) to the same problem and with open source projects!</li>           
<li>The idea of representing code blocks as vector is drawn from a research project  <a href='https://dl.acm.org/citation.cfm?id=2610394'>'ReDex'</a></li>
<li>Thanks to acorn, codemirror, esprima and numerous open source projects that acts as the knowledge base for the project :)</li>
</ul>

            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>                    
                </div>
            </div>
           </div>
        </div>
    </section>

   
    
   
    <footer>
       
    </footer>

   
    <!-- jQuery -->
    <script src="/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/javascripts/classie.js"></script>
    <script src="/javascripts/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/javascripts/jqBootstrapValidation.js"></script>
    <script src="/javascripts/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/agency.js"></script>

</body>

<script>    
  var editor = CodeMirror.fromTextArea(myTextarea, {
   mode: "javascript",
    lineNumbers: true,
    lineWrapping: true         
  });
  editor.setOption('theme','material');
  editor.on("keyup", function (cm, event) {  
    if (!cm.state.completionActive && [13, 37, 38, 39, 40].indexOf(event.keyCode) < 0 && event.ctrlKey && event.keyCode==32) {
    $('#noResults').hide();   
      CodeMirror.commands.autocomplete(cm, CodeMirror.hint.opensource, { completeSingle: false, async: true });
    }
  });
  
  CodeMirror.registerHelper(
    "hint", "opensource",
    function hintHelper(editor, callback, options) {   
      var cur = editor.getCursor();
      completionStartPos = cur;
      var currentLine = editor.getLine(cur.line);            
      
      var start = editor.getCursor().line;
      var current=editor.getCursor().line;  
      var line=new Array();  
        while(current>=0&&editor.getLine(current).length!==0){        
        line.push(editor.getLine(current));
        current--;
        } 
        line.reverse();
        currentLine = line.join('\n');        
        $('#loading').show(); 
        $.ajax({
        url: '/ast',
        type: 'POST',        
        data: {
        'code': currentLine        
        }, // An object with the key 'submit' and value 'true;
        success: function(result) {                            
        var completionConfig= {list:result,
                from: CodeMirror.Pos(current+1,0),
                to: CodeMirror.Pos(start, cur.ch)
                };
         callback(completionConfig);  
         $('#loading').hide(); 
         if(result.length===0){
         $('#noResults').show();
         } else{
         $('#noResults').hide();
         }                    
        },
        error: function(result) {
        $('#noResults').show();
        }
    });  
      
    });
  
</script>

</html>